@(game: Game, menu: Option[Menu])

@main("ZenQuest", game, menu) {

<div id="office-door" class="clickable" data-url="/go/office" style="position:absolute; left :500px; margin-top:80px; width:280px;height:80px"></div>
<pre>
MDMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMDM
                                                                                                                                                             DM
                                                                                                                                                             DM
                                                                                                                                                             DM
                                                    ||                                                      ||                                               DM
                                                    ||                                                      ||                                               DM
                                                    ||                                                      ||                                               DM
                                                    ||           RETOUR                                     ||                                               DM
                                                    ||                                                      ||                                               DM
                                                    ||                                                      ||                                               DM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMDM

</pre>
}
