@(title: String, game: models.Game, menu: Option[Menu] = None)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
      <pre>
/ ___   )(  ____ \( (    /|(  ___  )|\     /|(  ____ \(  ____ \\__   __/
\/   )  || (    \/|  \  ( || (   ) || )   ( || (    \/| (    \/   ) (
    /   )| (__    |   \ | || |   | || |   | || (__    | (_____    | |
   /   / |  __)   | (\ \) || |   | || |   | ||  __)   (_____  )   | |
  /   /  | (      | | \   || | /\| || |   | || (            ) |   | |
 /   (_/\| (____/\| )  \  || (_\ \ || (___) || (____/\/\____) |   | |
(_______/(_______/|/    )_)(____\/_)(_______)(_______/\_______)   )_(
      </pre>

      Time : @game.time</br>
      Energy : @game.energy</br>
      Karma : @game.karma<br />
      State :<br />
        Position: @game.state.position<br />
        Coffee: @game.state.coffee<br />


      <hr />
      @menu.map { m =>
        @m.choices.desc
        <br /> <br />
        @m.choices.choices.map { choice =>
          <a href="@choice.link">@choice.text</a><br />
        }
      }
      <hr />


      @content
  </body>
</html>
