@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
      <code>
/&nbsp;___&nbsp;&nbsp;&nbsp;)(&nbsp;&nbsp;____&nbsp;\(&nbsp;(&nbsp;&nbsp;&nbsp;&nbsp;/|(&nbsp;&nbsp;___&nbsp;&nbsp;)|\&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/|(&nbsp;&nbsp;____&nbsp;\(&nbsp;&nbsp;____&nbsp;\\__&nbsp;&nbsp;&nbsp;__/<br/>
\/&nbsp;&nbsp;&nbsp;)&nbsp;&nbsp;||&nbsp;(&nbsp;&nbsp;&nbsp;&nbsp;\/|&nbsp;&nbsp;\&nbsp;&nbsp;(&nbsp;||&nbsp;(&nbsp;&nbsp;&nbsp;)&nbsp;||&nbsp;)&nbsp;&nbsp;&nbsp;(&nbsp;||&nbsp;(&nbsp;&nbsp;&nbsp;&nbsp;\/|&nbsp;(&nbsp;&nbsp;&nbsp;&nbsp;\/&nbsp;&nbsp;&nbsp;)&nbsp;(<br/>
&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;)|&nbsp;(__&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;\&nbsp;|&nbsp;||&nbsp;|&nbsp;&nbsp;&nbsp;|&nbsp;||&nbsp;|&nbsp;&nbsp;&nbsp;|&nbsp;||&nbsp;(__&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;(_____&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;|<br/>
&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;/&nbsp;|&nbsp;&nbsp;__)&nbsp;&nbsp;&nbsp;|&nbsp;(\&nbsp;\)&nbsp;||&nbsp;|&nbsp;&nbsp;&nbsp;|&nbsp;||&nbsp;|&nbsp;&nbsp;&nbsp;|&nbsp;||&nbsp;&nbsp;__)&nbsp;&nbsp;&nbsp;(_____&nbsp;&nbsp;)&nbsp;&nbsp;&nbsp;|&nbsp;|<br/>
&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;|&nbsp;(&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;|&nbsp;\&nbsp;&nbsp;&nbsp;||&nbsp;|&nbsp;/\|&nbsp;||&nbsp;|&nbsp;&nbsp;&nbsp;|&nbsp;||&nbsp;(&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)&nbsp;|&nbsp;&nbsp;&nbsp;|&nbsp;|<br/>
&nbsp;/&nbsp;&nbsp;&nbsp;(_/\|&nbsp;(____/\|&nbsp;)&nbsp;&nbsp;\&nbsp;&nbsp;||&nbsp;(_\&nbsp;\&nbsp;||&nbsp;(___)&nbsp;||&nbsp;(____/\/\____)&nbsp;|&nbsp;&nbsp;&nbsp;|&nbsp;|<br/>
(_______/(_______/|/&nbsp;&nbsp;&nbsp;&nbsp;)_)(____\/_)(_______)(_______/\_______)&nbsp;&nbsp;&nbsp;)_(<br/>
      </code>
        @content
    </body>
</html>
