@(game: Game, menu: Option[Menu])

@main("ZenQuest", game, menu) {
  <h1>Office</h1>
@game
<pre>
                                   HH                                     HH                                    HH                          ||               DM
                                   HH                                     HH                                    HH                          ||      /\       DM
                                   HH                                     HH                                    HH                          ||     /  \      DM
                                   HH                                     HH                                    HH                          ||    /    \     DM
                                   HH                                     HH                                    HH                          ||   /__  __\    DM
==============|       |============HH======================|       |======HH======================|       |=====HH============|      |======||      ||       DM
                                                                                                                                            ||      ||       DM
                                                                                                                                            ||      ||       DM
                                                                                                                                            ||               DM
                                                                                                                                            ||:::::::::::::::DM
                                                                                                                                                             DM
                                                                                                                                                             DM
                                                         MMMM       MMMM       MMMM      MMMM      MMMM                                                      DM
                                                        W    W     W    W     W    W    W    W    W    W                                                     DM
                                                        W    W     W    W     W    W    W    W    W    W                                                     DM
                                                        W    W     W    W     W    W    W    W    W    W                                                     DM
                                                                                                                                                             DM
                                                    ++======================================================++                                               DM
                                                    ||                                                      ||                                               DM
                                                    ||                                                      ||                                               DM
                                                    ||                                                      ||                                               DM
                                                    ||                                                      ||                                               DM
                                                    ||                                                      ||                                               DM
                                                    ||                                                      ||                                               DM
                                                    ||                                                      ||                                               DM
                                                    ||                                                      ||                                               DM
                                                    ||                                                      ||                                               DM
=====================+                              ||                                                      ||                                               DM
                     |                              ||                                                      ||                                               DM
                     |                              ||                                                      ||                                               DM
      \     (        |                              ||                                                      ||                                               DM
   () /      )       |                              ||                                                      ||                                               DM
      )      ( )     |                              ||                                                      ||                                               DM
       \   ()        |                              ||                                                      ||                                               DM
 ----------------  _ |                              ++======================================================++                                               DM
|================|/ \|                                                                                                                                       DM
|                | U/|                                  M     M     M    M    M    M    M    M    M    M                                                     DM
|________________|_/ |                                  M     M     M    M    M    M    M    M    M    M                                                     DM
 \              /    |                                  M     M     M    M    M    M    M    M    M    M                                                     DM
  \____________/     |                                    WWWW       WWWW      WWWW      WWWW      WWWW                                                      DM
                     |                                                                                                                                       DM
                     |                                                                                                                                       DM
++++++++++++++++++++++                                                                                                                                       DM
++++++++++++++++++++++                                                                                                                                       DM
 ___                 |                                                                                                                                       DM
|       / \   |    | |                                                                                                                                       DM
|---   /---\  |    | |                                                                                                                                       DM
|___  /     \ \____/ |                                                                                                                                       DM
                     |                                                                                                                                       DM
++++++++++++++++++++++                                                                                                                                       DM
++++++++++++++++++++++                                                                                                                                       DM
                     |                                                                                                                                       DM
   _--"-.            |                                                                                                                                       DM
  .-"     "-.        |                                                                                                                                       DM
 |""--..     ".      |                                                                                                                                       DM
 |      ""--..".     |                                                                                               (Q)(Q)(Q)   ||:::::::|         |::::::::DM
 |             |     |                                                                                                 \,|,/     ||                          DM
 '--..         |     |                                                                                                 _\|/_     ||      SORTIR DEHORS       DM
      ""--..  _|     |                                                                                                |_____|    ||                          DM
            ""       |                                                                                                 |   |     ||            |             DM
++++++++++++++++++++++                                                                                                 |___|     ||            V             DM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMDM

</pre>
}
