@(game: Game, menu: Option[Menu])

@main("ZenQuest", game, menu) {
<pre>
MDMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMDM</pre>
<div id="devoffice-door" class="clickable" data-url="/go/devoffice" style="position:absolute; width:280px;height:80px"></div>
<div id="fp2office-door" class="clickable" data-url="/go/fp2office" style="position:absolute; width:290px;height:80px; left: 300px"></div>
<div id="designoffice-door" class="clickable" data-url="/go/designoffice" style="position:absolute; width:280px;height:80px; left: 620px"></div>
<div id="ic2office-door" class="clickable" data-url="/go/ic2office" style="position:absolute; width:210px;height:80px; left: 920px"></div>
<pre>                                   HH                                     HH                                    HH                          ||               DM
                                   HH                                     HH                                    HH                          ||      /\       DM
                                   HH                                     HH                                    HH                          ||     /  \      DM
                                   HH                                     HH                                    HH                          ||    /    \     DM
                                   HH                                     HH                                    HH                          ||   /__  __\    DM
==============|       |============HH======================|       |======HH======================|       |=====HH============|      |======||      ||       DM
                                                                                                                                            ||      ||       DM
                                                                                                                                            ||      ||       DM
                                                                                                                                            ||               DM
                                                                                                                                            ||:::::::::::::::DM
                                                                                                                                                             DM
                                                                                                                                                             DM
                                                         MMMM       MMMM       MMMM      MMMM      MMMM                                                      DM
                                                        W    W     W    W     W    W    W    W    W    W                                                     DM
                                                        W    W     W    W     W    W    W    W    W    W                                                     DM
                                                        W    W     W    W     W    W    W    W    W    W                                                     DM
                                                                                                                                                             DM
                                                    ++======================================================++                                               DM
                                                    ||                                                      ||                                               DM
                                                    ||                                                      ||                                               DM
                                                    ||                                                      ||                                               DM</pre>
<div id="office-talk_fl" class="clickable" data-url="/go/office-talk_fl" style="position:absolute; left:370px; width:30px;height:50px"></div>
<pre>                                               o    ||                                                      ||                                               DM
                                              /|\   ||                                                      ||                                               DM
                                              / \   ||                                                      ||                                               DM
                                                    ||                                                      ||                                               DM
                                                    ||                                                      ||                                               DM
                                                    ||                                                      ||                                               DM</pre>
<div id="office-drinkcoffee" class="clickable" data-url="/go/office-coffee" style="position:absolute; width:180px;height:240px"></div>
<pre>=====================+                              ||                                                      ||                                               DM
                     |                              ||                                                      ||                                               DM
                     |                              ||                                                      ||                                               DM
      \     (        |                              ||                                                      ||                                               DM
   () /      )       |                              ||                                                      ||                                               DM
      )      ( )     |                              ||                                                      ||                                               DM
       \   ()        |                              ||                                                      ||                                               DM
 ----------------  _ |                              ++======================================================++                                               DM
|================|/ \|                                                                                                                                       DM
|                | U/|                                  M     M     M    M    M    M    M    M    M    M                                                     DM
|________________|_/ |                                  M     M     M    M    M    M    M    M    M    M                                                     DM
 \              /    |                                  M     M     M    M    M    M    M    M    M    M                                                     DM
  \____________/     |                                    WWWW       WWWW      WWWW      WWWW      WWWW                                                      DM
                     |                                                                                                                                       DM
                     |                                                                                                                                       DM
++++++++++++++++++++++                                                                                                                                       DM</pre>
<div id="office-water" class="clickable" data-url="/go/office-water" style="position:absolute; width:180px;height:100px"></div>
<pre>++++++++++++++++++++++                                                                                                                                       DM
 ___                 |                                                                                                                                       DM
|       / \   |    | |                                                                                                                                       DM
|---   /---\  |    | |                                                                                                                                       DM
|___  /     \ \____/ |                                                                                                                                       DM
                     |                                                                                                                                       DM
++++++++++++++++++++++                                                                                                                                       DM</pre>
<div id="office-frigo" class="clickable" data-url="/go/office-frigo" style="position:absolute; width:180px;height:200px"></div>
<pre>++++++++++++++++++++++                                                                                                                                       DM
                     |                                                                                                                                       DM
   _--"-.            |                                                                                                                                       DM
  .-"     "-.        |                                                                                                                                       DM
 |""--..     ".      |                                                                                                                                       DM
 |      ""--..".     |                                                                                               (Q)(Q)(Q)   ||:::::::|         |::::::::DM
 |             |     |                                                                                                 \,|,/     ||                          DM
 '--..         |     |                                                                                                 _\|/_     ||      SORTIR DEHORS       DM
      ""--..  _|     |                                                                                                |_____|    ||                          DM
            ""       |                                                                                                 |   |     ||            |             DM
++++++++++++++++++++++                                                                                                 |___|     ||            V             DM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMDM

</pre>
}
